.layout__default_wrap{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    'top top top'
    'left center right'
    'bottom bottom bottom';
}

.layout__default_left{grid-area: left;}
.layout__default_top{grid-area: top;}
.layout__default_center{grid-area: center;}
.layout__default_right{grid-area: right;}
.layout__default_bottom{grid-area: bottom;}