.mainmenu__wrap{
    width: 140px;
    height: calc(100vh - 200px);
}

.mainmenu__wrap a{
    text-decoration: none;
}
    /* font-family: 'Supermercado One'; */

.mainmenu__menu{
    background-color: black;
    text-align: center;
    padding: 7px;
    height: 31px;
    font-family: 'Poppins';
    color: white;
    font-size: 1.3em;
    border-bottom: 2px solid white;
    margin-bottom: 0px;
    border-radius: 0 17px 4px 0;
    font-weight: 200;
    /* font-family: 'Supermercado One'; */
}