.mainmenu__wrap{
    width: 180px;
    height: calc(100vh - 200px);
}

.mainmenu__wrap a{
    text-decoration: none;
}

.mainmenu__menu{
    background-color: black;
    text-align: center;
    padding:8px;
    height: 38px;
    /* font-family: 'Supermercado One'; */
    font-family: 'Poppins';
    color: white;
    font-size: 1.1em;
    border-bottom: 1px solid white;
    margin-bottom: 10px;
}