.select_wrap{
    width: 80px;
    display: inline-block;
    height: 27px;
    background: green;
    position: relative;
}

.select__option{
    color: red;
}

.select__option_visible{
    overflow: hidden;
    width: 100%;
    transition: 0.3s;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.select__options_wrap{
    width: 100%;
    opacity: 0;
    justify-items: center;
    display: inline-grid;
}

.select__opend .select__options_wrap{
    opacity: 1;
}

.select__ckicker{
    width: 80px;
    height: 27px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
}
